.back-button {
  padding: 2px 8px;
  background-color: rgba(0,0,0,0);
  color: #7a7a7a;
  border: 0;
  border-radius: 6px;
  margin-bottom: 4px;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #424242;
}