body {
  font-family: 'Manrope', 'Roboto', system-ui, sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: .001em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}