.button {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  background-color: rgba(73, 142, 236, 0.15);
  color: rgb(73, 142, 236);
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.1s ease;
}

.button:hover {
  color: rgb(58, 112, 187);
  transform: scale(0.9);
}